<!DOCTYPE html>
<html>
	<head>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../static/css/general.css">

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-twitch" role="navigation">
            <div class="container">
    	        <div class="">
    	            <ul class="nav navbar-nav">
    	                <li>
    	                    <a href="/">
    	            	    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home"> 
    	            	        <span class="fa fa-home"></span> 
    	            	    </span>
    	                        <span class="full-nav"> Home </span>
    	            	</a>
    	                 </li>
    	                 <li>
    	                     <a href="/community">
    	                         <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Community"> 
    	            	         <span class="fa fa-users" aria-hidden="true"></span> 
    	            	     </span>
    	            	     <span class="full-nav"> Community </span>
    	            	 </a>
    	                 </li>
    	                 <li>
    	                     <a href="/new_issue">
    	                         <span class="small-nav" data-toggle="tooltip" data-placement="right" title="New Request"> 
    	            	         <span class="fa fa-comments-o" aria-hidden="true"></span> 
    	            	     </span>
    	            	     <span class="full-nav"> New Request </span>
    	            	 </a>
    	                 </li>
    	                 <li>
    	                     <a href="/how_it_works">
    	            	     <span class="small-nav" data-toggle="tooltip" data-placement="right" title="How It Works"> 
    	            	         <span class="fa fa-question"></span> 
    	            	     </span>
    	            	     <span class="full-nav"> How It Works </span>
    	            	 </a>
    	                 </li>
    	                 <li class="active">
    	                     <a href="/about_us">
    	            	     <span class="small-nav" data-toggle="tooltip" data-placement="right" title="About Us"> 
    	            	         <span class="fa fa-info-circle"></span> 
    	            	     </span>
    	            	     <span class="full-nav"> About Us </span>
    	            	 </a>
    	                 </li>
    	            </ul>
    	        </div><!--/.nav-collapse -->
            </div>
        </div> 
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					 <h1 class="about-title">About Us</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 team-box"></div>
			<div class="col-md-2 team-box">
				<div class="team-img thumbnail">
					<img src="../static/images/shira.jpeg">
					<div class="team-content">    
						<h3>Shira Maximov</h3>
						<div class="border-team"></div>
						<p>Programmer</p>
						<div class="social-icons"> 
							<a href="https://www.facebook.com/shira.maximov"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
							<a href="https://plus.google.com/u/0/110612002664972320450"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1 team-box"></div>
			<div class="col-md-2 team-box">
				<div class="team-img thumbnail">
					<img src="../static/images/hadas.jpeg">
					<div class="team-content">    
						<h3>Hadas Sasson</h3>
						<div class="border-team"></div>
						<p>DevOps</p>
						<div class="social-icons"> 
							<a href="https://www.facebook.com/hadas.sasson7"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
							<a href="https://plus.google.com/u/0/103566973654790687806"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1 team-box"></div>				
			<div class="col-md-2 team-box">
				<div class="team-img thumbnail">
					<img src="../static/images/rinat.jpeg">
					<div class="team-content">    
						<h3>Rinat Kararo</h3>
						<div class="border-team"></div>
						<p>UI\UX designer</p>
						<div class="social-icons"> 
							<a href="https://www.facebook.com/rinat.kararo"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
							<a href="https://plus.google.com/u/0/116073947593219441119"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
